.caixa_de_conversao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    gap: 2rem;
    border: 3px #5B98BA dashed;
}

.container_input_e_select {
    display: flex;
    width: 40%;
}

.texto_box_informacao {
    color: #383838;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto_box_informacao a{
    text-decoration: none;
    color: #5B98BA;
}

.custom-file-upload-label {
    color: white;
    display: flex;
    padding: 6px 12px;
    background-color: #5B98BA;
    width: 500px;
    height: 30px;
    height: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.custom-file-upload-label:hover {
    color: #5B98BA;
    background-color: #f8f8f8;
}

.bold_selecionar_arquivo {
    font-size: 20px;
}

#file_upload{
    display: none;
}

.container_input_e_select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 24px;
    padding: 2rem;
    background-image: url(../assets/SetaCombo.png); 
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: center;
    background-position-y: -20px;
}

.container_input_e_select select:focus {
    outline: none;
}

