.caixa_de_conversao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: calc(70% - 6px);
    height: 25vh;

    border: 3px #5B98BA dashed;
}

.container_input_e_select {
    display: flex;
}

.texto_box_informacao {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto_box_informacao a {
    text-decoration: none;
    color: #5B98BA;
}

<<<<<<< Updated upstream
.custom-file-upload-label {
    color: white;
    display: flex;
    padding: 6px 12px;
    background-color: #5B98BA;
    width: 500px;
    height: 30px;
    height: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.custom-file-upload-label:hover {
    color: #5B98BA;
    background-color: #f8f8f8;
}

.bold_selecionar_arquivo {
    font-size: 20px;
}

#file_upload{
    display: none;
}
=======
.container_input_e_select input[type="file"] {
    color: white;
    background-color: #5B98BA;
    width: 250px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.div_imitando_input {}
>>>>>>> Stashed changes

.container_input_e_select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 60px;
    height: 60px;

    background-image: url(../assets/SetaCombo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}

.container_input_e_select select:focus {
    outline: none;
}