:root {
  --azul-principal: #145DA0;
  --azul-claro: #5B98BA;
  --roxo: #505CFD;
  --cinza-claro: #868686;
  --cinza-escuro: #383838;
}

img {
  width: 200px;
  /* Defina o tamanho desejado para o logotipo */
  margin-right: 10px;
  /* Adicione margem à direita para separar o logotipo das opções de navegação */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}

.linkBox {
  /* font-size: 1.5rem; */
  text-decoration: none;
  color: var(--azul-texto);
  /* transition: 0.3s; */
}

.linkNav {
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

.linkNav:hover {
  border-bottom: solid 1px var(--roxo);
}

/* CADASTRO */

.container-box {
  width: 420px;
  height: 520px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem;
  box-shadow: 10px 12px 39px 19px rgba(0, 0, 0, 0.25);
}

.container-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-texto h2 {
  font-size: 1.2rem;
}

.container-texto h3 {
  font-size: 1rem;
}

.texto-cinza {
  font-weight: 600;
  color: var(--cinza-claro);
  line-height: normal;
}

.texto-preto {
  font-weight: 750;
  color: #000;
}

.texto-azul {
  font-weight: 600;
  color: var(--azul-claro);
}

.formulario {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
}

.formulario div {
  color: var(--cinza-escuro);
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

input {
  width: 100%;
  border: none;
  font-size: 1rem;
  border-bottom: 2px solid var(--cinza-claro);
}

input:focus {
  outline: none;
}

button {
  color: #FFF;
  background-color: var(--azul-claro);
  font-size: 1.2rem;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  border-radius: 5rem;
  align-self: end;
  transition: .3s;
}

button:hover {
  background-color: var(--azul-principal);
  cursor: pointer;
}