.containerCirculo {
  display: flex;
  max-width: 100vw;
  height: calc(100vh - 74.4px);

  background-image: url(/src/assets/imagemFile.png);
  background-size: 200px;
  background-position-x: right;
  background-repeat: no-repeat;

  padding-left: 30px;
}

.containerCards {
  width: 85%;
  height: 70%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
}