.containerCirculo {
  display: flex;
  height: calc(100vh - 74.4px);

  background-image: url(/src/assets/imagemFile.png);
  background-size: 200px;
  background-position-x: right;
  background-repeat: no-repeat;
  justify-content: center;
}

.containerCards {
  display: flex;
  gap: 20px;
}