.container-login {
  display: flex;
  height: calc(100vh - 74px);

  background-image: url(/src/assets/Logo/logincadback.png);
  background-position-x: 130%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 40%;
}

.container-box {
  margin: auto;
  justify-content: center;
}

.formulario {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
}

/*MODAL LOGIN*/

.wrapper_login a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  color: #5B98BA;
  margin-left: -4%;
}

.modal_login {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal_login:target {
  visibility: visible;
  opacity: 1;
}

.modal__content_login {
  margin: auto;
  border-radius: 4px;
  position: relative;
  width: 150px;
  max-width: 30%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer_login {
  text-align: right;

  a {
    color: #585858;
  }

  i {
    color: #d02d2c;
  }
}

.modal__close_login {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #5B98BA;
  text-decoration: none;
}