.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 50vh;
}

.auxTexto {
  display: flex;
}

.auxTexto b {
  margin-left: 4px;
}

.ponto {
  color: #505CFD;
  margin-left: 0px;
  font-size: 16px;
}

.historico {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.historico img {
  width: 50px;
}

.historico p,
img {
  margin: 0px 32px;
}