.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 50vh;
}

.auxTexto {
  display: flex;
}

.auxTexto b {
  margin-left: 4px;
}

.ponto {
  color: #505CFD;
  margin-left: 0px;
  font-size: 16px;
}

button {
  color: #FFF;
  background-color: var(--azul-claro);
  font-size: 1.2rem;
  width: 240px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  border-radius: 5rem;
  align-self: center;
  transition: .3s;
}

button:hover {
  background-color: var(--azul-principal);
  cursor: pointer;
}

.boxPai {
  display: flex;
  justify-content: center;
}

.box{
  display: flex;
  width: 60vw;
  flex-direction: column;
  /* margin: 0px 1000px; */
  /* box-shadow: 10px 12px 39px 19px rgba(0, 0, 0, 0.25); */
  border-left: solid 1px;
  border-right: solid 1px;
}

.cabecalho {
  border-top: solid 1px;  
}

.historico {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: solid 1px;
  width: 100%;
}

.historico img {
  margin-right: 10px;
  width: 50px;
}

.historico div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

.espacamento {
  margin-left: 30px;
}