.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px; height: 230px;
    border-radius: 12px;
    background: #F8F8F8;  
    box-shadow: 3px 11px 22px 10px rgba(0, 0, 0, 0.25);
}
.card:hover{
    transition: 0.5s;
    transform: scale(1.01);
}
.containerConteudoCard{
    display: flex;
    flex-direction: column;
    width: 230px; height: 230px;
}
.tituloDoCirculo{
    align-self: center;
    font-size: 22px;
    padding: 10px;
}

.membrosCirculo {
    display: flex;
    align-items: center;
    height: 70%;
}

.listaOrnedadaMembros{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.listaOrnedadaMembros li{
    display: flex;
    gap: 20px;
}
.listaOrnedadaMembros img{
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.listaOrnedadaMembros img:hover{
    transition: 0.1s;
    transform: scale(1.20);
}

.containerConteudoCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 3rem;
}

.containerConteudoCard button img {
    width: 35px;
}

.containerConteudoCard button:hover {
    background-color: #FFF;
}
