.container-convites {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: calc(100vh - 83px);
}
.box-convites{
    display: flex;
    width: 100vh;
    height: 90%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
}
.head-convites{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #5B98BA;
}
.botoes-convite button:hover{
    background-color: #5B98BA;
}
.convite{
    display: flex;
    width: 100%;
    height: 100px;
    transition: all 0.3s;
    justify-content: space-evenly;
    align-items: center;
}
.convite:hover{
    background-color: rgb(238, 238, 238);
}
.texto-convite{
    display: flex;
    padding-left: 30px;
    width: 60%;
    height: 70%;
    justify-content: start;
    align-items: center;
    gap: 20px;

}
.texto-convite span{
    font-weight: bold;
}
.horario {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 20%;
    height: 70%;
}
.horario i{
font-size: 12px;

}
.aceitar,
.negar {
    width: 40px;
    height: 40px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.aceitar{
    background-color: rgb(54, 156, 54);
    background-image: url('src/assets/simbolo-correto.png');
}
.negar{
    background-color: rgb(175, 34, 24);
    background-image: url('src/assets/errado.png');
}
.fotoConvite{
    width: 50px;
    height: 50px;
}
.botoes-convite{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sem-convites{    
   /*  border: 1px solid black; */
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 50%;
    background-image: url('src/assets/simbolo-correto-512.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}.sem-convites span{  
    font-weight: bold;
    color: rgb(153, 153, 153);
}