:root {
  --azul-principal: #145DA0;
  --azul-claro: #5B98BA;
  --roxo: #505CFD;
  --cinza-claro: #868686;
  --cinza-escuro: #383838;
}

img {
  width: 200px;
}

.navbar-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  padding: 1.5rem 2rem;
}

.navbar-white ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}

.linkBox-white {
  /* classe pra transitar entre login e cadastro */
  text-decoration: none;
  color: var(--azul-texto);
}

.linkNav-white {
  /* classe para os links na navbar */
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}

.linkNav-white:hover {
  border-bottom: solid 1px var(--roxo);
}