.containerPainel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.cards {
    height: 100%;
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.cards::-webkit-scrollbar {
    width: 5px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #145DA0;
    border-radius: 20px;
}

.containerPainel input {
    width: 150px;
    height: 30px;
    background-image: url(/src/assets/pesquisa-de-lupa.png);
    background-position: right;
    background-size: 15%;
    background-repeat: no-repeat;
}

.btnCreateCircle {
    width: 40px;
    height: 40px;
    background-image: url(/src/assets/adicionar-circulo.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.btnCreateCircle:hover {
    cursor: pointer;
    background-image: url(/src/assets/adicionar-circulo-hover.png);
}

/* Estilização modal */

.modalCreateCircle {
    position: fixed;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    /* Certifique-se de que o z-index seja maior que outros elementos */
}

/* Estilo para o botão de fechar no modal */
.imageCloseModalCreateCircle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(/src/assets/fechar-modal.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

#buttonUploadModal {
    align-self: center;
}