.containerPainel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.cards {
    max-height: 100%;
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.cards::-webkit-scrollbar {
    width: 5px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #145DA0;
    border-radius: 20px;
}

.containerPainel input {
    width: 150px;
    height: 30px;
    background-image: url(/src/assets/pesquisa-de-lupa.png);
    background-position: right;
    background-size: 15%;
    background-repeat: no-repeat;
}

.btnCreateCircle {
    width: 40px;
    height: 40px;
    background-image: url(/src/assets/adicionar-circulo.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.btnCreateCircle:hover {
    cursor: pointer;
    background-image: url(/src/assets/adicionar-circulo-hover.png);
}